* {
    margin: 0;
    padding: 0;
    box-sizing: 'Roboto';
}

body {
    font-family: Roboto, sans-serif;
    background: #f5f1f1;
    color: #333333;
}

li{
    display:inline-block;
}
nav{
    display:inline-block;
}
header{
margin: 30px 0px 144px 70px;
}
a{

    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    margin: 0 10px 0 0;
    cursor: pointer;
    color: #333333;
    transition: opacity 0.2s;
    text-decoration: none;
}
a:hover{
opacity: 0.8;}

.botao-login{

    width: 130px;
    height: 40px;
    border-radius: 20px;
    background-color: #1f7a0d;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: rgb(226, 220, 220);
    transition: opacity 0.2s;
}
.botao-login:hover{
    opacity: 0.8;
    background-color: rgb(122, 153, 238);
}

.logo{
    width: 40%;
    vertical-align: middle;
}

.texto{
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 10px 5px;
    text-align: left;
}

.main{
    text-align: center;

}

.botao-explore{
    width: 190px;
    height: 34px;
    cursor: pointer;
    background-color: #0bb836;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    transition: opacity 0.3s;
}

.botao-explore:hover{
    opacity: 0.7;
}

.titulo{
    font-size: 30px;
    font-weight: 900;
    color: rgb(136, 153, 37);
}

.sub-titulo{
    color: darkslategray;
    line-height: 1.5;
    font-size: 25px;
}

.paragrafo{
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    margin: 20px 0 40px 0;
    max-width: 500px;
}